# JVM crash related
core.*
hs_err_pid*

# Intellij
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.classpath
.project
.settings/

# netbeans
nbproject/
nbactions.xml

# Gradle
!gradle-wrapper.jar
.gradle/
build/
*/build/

# we use maven!
build.xml

# Maven
log/
target/
dependency-reduced-pom.xml

# various other potential build files
bin/
dist/
manifest.mf

# Mac
.DS_Store/
.DS_Store

# vim
.*.sw[a-p]

# Linux temp files
*~

# other stuff
run/

# LevelBukkit
build-data/
.kotlin/
*.jar
.xcodemap/
/sewlia-server/build.gradle.kts
/sewlia-server/src
/sewlia-api/src
/sewlia-api/build.gradle.kts
/folia-server/build.gradle.kts
/folia-server/src/minecraft
/paper-server
/folia-api/build.gradle.kts
/paper-api
/paper-api-generator